*.class
*.jar
*.war
*.ear
*.nar
*.tar.gz
*.rar
*.o
*.pyc
*.class
node_modules/
gradle/
build/
bin/
out/
target/
dist/
*.iml
*.log
*.tmp
*.lock
*.temp
logs/
.DS_Store
Thumbs.db
.idea/ 
.vscode/
*.swp
*.swo
.env
.env.local
.env.production
.classpath
.project
.settings/
.todo
*.properties